*{
    margin:0;
    padding:0;
}
body{
    background-color: #000;
}
.worksBox{
    width:380px;
    margin:0 auto;
    margin-top:20px;
    border:3px solid #fff;
    border-radius:15px;
    box-shadow:0 0 40px #fff;
}
.worksBox h3{
    color:#fff;
    text-align:center;
    line-height: 50px;
    font-size:20px;
    font-weight:normal;
}
.worksBox img{
    width:380px;
    height:auto;
}
